In [4]:
import pandas as pd
file_path = r'C:\Users\norah\Desktop\CFG\group_project_data\ONS_av_price_cigarettes_king_size_filter.csv'  # Replace with your file path
df = pd.read_csv(file_path)

In [5]:
# Extract the year from the 'unit' column
df['year'] = df['Unit'].str[:4]

# Extract the month or quarter from the 'unit' column if it is present.
df['month'] = df['Unit'].str[4:]

In [9]:
# Convert the 'year' column to integer.
df['year'] = df['year'].astype(int)

# Group by year and calculate the maximum price.
max_price_per_year = df.groupby('year')['Pence'].max().reset_index()

In [10]:
print(max_price_per_year)

    year  Pence
0   1987    145
1   1988    150
2   1989    153
3   1990    170
4   1991    196
5   1992    214
6   1993    233
7   1994    245
8   1995    266
9   1996    279
10  1997    305
11  1998    330
12  1999    367
13  2000    402
14  2001    417
15  2002    419
16  2003    429
17  2004    445
18  2005    465
19  2006    483
20  2007    505
21  2008    537
22  2009    550
23  2010    600
24  2011    673
25  2012    738
26  2013    804
27  2014    870
28  2015    907
29  2016    948
30  2017    990
31  2018   1063
32  2019   1083
33  2020   1145
34  2021   1196
35  2022   1277
36  2023   1512
37  2024   1566